.titulo {
    font-size: 30px;
    margin: 0%;
    padding: 2%;
    text-align: center;
  }
  
.reserva-content {
    display: flex;
    flex-direction: column;
    padding: 5% 2%;
    width: 387px;
}

.reserva-input {
    width: 49%;
    margin-bottom: 3%;
}

mat-form-field {
    height: 76px;
}

  