<div class="container">
    <h1 class="titulo">Histórico de reservas</h1>
    <div class="tabla">
        
        <pa-tabla class="display-phone"
            [tableData]="reservas"
            [tableColumns]="columnasCelu"
            [isFilter]="false"
            [isPaginator]="false">
        </pa-tabla>
        
        <pa-tabla class="display-desktop"
            [tableData]="reservas"
            [tableColumns]="columnasPC"
            [isFilter]="false"
            [isPaginator]="false">
        </pa-tabla>
    </div>
</div>
